
    <script type="text/javascript" src="//api.filepicker.io/v0/filepicker.js"></script>
    <script src="~/Scripts/Custom/MainViewModel.js"></script>
    <script src="~/Scripts/Custom/FilePicker.js"></script>
 
    <script>
        $(document).ready(function () {
            $("#checkoutwindow").kendoWindow({
                actions: ["Custom", "Refresh", "Maximize", "Minimize", "Close"],
                draggable: false,
                modal: true,
                resizable: false,
                visible: false,
                title: "Change Tax Rate",
            });
            $("#taxwindow").kendoWindow({
                actions: ["Custom", "Refresh", "Maximize", "Minimize", "Close"],
                draggable: false,
                modal: true,
                resizable: false,
                visible: false,
                title: "Change Tax Rate",
            });
            $("#createcategorywindow").kendoWindow({
                actions: ["Custom", "Refresh", "Maximize", "Minimize", "Close"],
                draggable: false,
                modal: true,
                resizable: false,
                visible: false,
                title: "Create Category",
            });
            $("#createitemwindow").kendoWindow({
                actions: ["Custom", "Refresh", "Maximize", "Minimize", "Close"],
                modal: true,
                visible: false,
                title: "Create Item",
            });
            $("#changetax").click(function () {
                var win = $("#taxwindow").data("kendoWindow");
                win.center();
                win.open();
            });
            $("#createcategory").click(function () {
                var win = $("#createcategorywindow").data("kendoWindow");
                win.center();
                win.open();
            });
            $("#createitem").click(function () {
                var win = $("#createitemwindow").data("kendoWindow");
                win.center();
                win.open();
            });
        });
    </script>

<section id="checkout">
    <div class="content-wrapper">
        <div data-bind="visible: categories().length == 0">
            <h1>Currently, you not have any inventory on hand in the store. </h1>
            <h3>If this is your first time using Simple Sale we reccomend you watch the brief video tutorial on using this system. Also, if you prefer to read, no problem! Click the link below for documentation.</h3>
            <br />
            <br />
            <span>
                <button class="backbutton">Video Tutorial</button></span><span>
                    <button class="backbutton">Documentation</button>
                </span>
        </div>
        <div style="float: left; width: 500px">

            <select data-bind="visible: categories().length> 0, options: categories,optionsText: function(category) {return category.Name}, value: selectedCategory">
            </select>

            <div style="max-height: 300px; overflow: auto" data-bind="with: selectedCategory, visible: categories().length> 0">
                <span>
                    <button data-bind="click: $root.removeCategory" title="Remove">Remove</button>
                </span>
                <span>
            <button id="createcategory">New Category</button></span>
            <span>
               <button id="createitem">New Item</button>
             </span>
                <hr />
                <div data-bind="foreach: Items">
                    <table style="float: left">

                        <tr>

                            <td><span style="text-align: center" data-bind="text: Name"></span></td>
                        </tr>
                        <tr>

                            <td>

                                <img class="catalogimage" title="Add Item to Cart" data-bind='click: $root.addToCart, attr: { src: ItemUrl }' />
                            </td>
                        </tr>

                        <tr>
                            <td><span style="text-align: center" class="price" data-bind="text: '$' + Price"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <button data-bind="click: $root.removeItem" title="Remove">Remove</button>
                                <span></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div style="float: left; margin-left: 50px; margin-top: 20px">

            <div data-bind="visible: subtotal()> 0" class="cart">
                <div class="cartitemscontainer">
                    <span>The checkout currently has <strong data-bind="text: cart().length"></strong>items.</span>

                    <table>
                        <thead>
                            <tr style="font-size: 12px">
                                <th style="width: 50px">Qty.</th>
                                <th style="width: 140px">Item</th>
                                <th style="width: 50px">Price</th>
                                <th style="width: 50px"></th>
                            </tr>
                        </thead>

                        <!-- Iterate over view_mode.products (Observable Array) -->
                        <tbody id="cartitems" data-bind="foreach:cart">

                            <!-- This HTML within this <tbody></tbody> block will get rendered for each item in view_model.cart -->

                            <tr>
                                <td>

                                    <!-- [CartItem] $data.quantity (Observable) -->
                                    <input style="width: 28px" data-bind="value:$data.quantity" />
                                </td>
                                <td>

                                    <!-- [CartItem] $data.product().name (Observable) -->
                                    <span id="name" data-bind="text:$data.name"></span>
                                </td>
                                <td style="text-align: right">

                                    <!-- [CartItem] $data.cost (Computed Observable) -->
                                    <span data-bind="text:$data.cost"></span>
                                </td>
                                <td>
                                    <span data-bind="click:$parent.removeFromCart">
                                        <button class="delete"></button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <hr />
                    <table>
                        <tbody>

                            <tr>
                                <td><strong>Subtotal</strong> <span id="subtotal" data-bind="text:formatCurrency(subtotal())"></span>
                                    <span style="margin-left: 10px" data-bind="visible: tax()> 0"><span class="link" id="changetax">Tax</span>

                                        <span>$</span><span id="tax" data-bind="text:taxtotals"></span></span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span><strong>Discount</strong>
                                        <input id="discount" style="width: 50px" data-bind='value: discount, valueUpdate: "afterkeydown"' />
                                    </span>
                                    <span style="font-size: 22px; margin-left: 20px"><strong>Total</strong>
                                        <span id="total" data-bind="text:formatCurrency(cartstotal())"></span>
                                    </span>
                                </td>
                        </tbody>
                    </table>
                    <button style="width: 200px; height: 30px" data-bind="click: checkoutFromCart">Checkout</button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <button class="backbutton">Back</button>
    </div>
    <br />
    <br />

    <div id="checkoutwindow">
        <h3>Are you sure you want to check out?</h3>
        <div>Customer: <span></span>Customer Goes Here</div>
        <br />

        <div>
            Subtotal: <span data-bind="text:formatCurrency(subtotal())"></span>
            <br />
        </div>
        <div>
            <span>Tax:</span> <span>$</span><span data-bind="text:taxtotals"></span>
        </div>
        <div>
            Shipping :<input style="width: 25px" data-bind='value: shipping, valueUpdate: "afterkeydown"' />
        </div>
        <div id="totaltest">Total: <span data-bind="text:formatCurrency(cartstotal())"></span></div>
        <h3>Select Payment Method</h3>

        <div>
            Cash<input type="radio" name="paymentmethod" value="Cash" />
        </div>
        <div>Credit Card<input type="radio" name="paymentmethod" value="Credit" checked="checked" /></div>
        <div>Check<input type="radio" name="paymentmethod" value="Check" checked="checked" /></div>

        <button data-bind="click: checkOutCustomer">Check Out Customer</button>
        <button>Email Reciept</button>
        <button>Print Reciept</button>
    </div>
    <div id="taxwindow">
        <span>Current Tax is set to</span> <span data-bind="text:tax()"></span><span>%</span>
        <br />
        <input data-bind='value: tax, valueUpdate: "afterkeydown"' />
    </div>

    <div id="createitemwindow" style="padding: 20px">

        <form id="addItem" data-bind="submit: addItem">

            <fieldset>
                <legend>Add New Item</legend>
                <hr />
                <ol style="float: left">

                    <li>
                        <label for="Name">Select Category</label>
                        <select name="CategoryId" id="selectedCategoryvalue" data-bind="click: selectCategoryId, options: categories, optionsText: 'Name', optionsValue: 'Id', value: selectedItemId"></select>
                    </li>
                    <li>
                        <label for="Name">Name</label>
                        <input type="text" name="Name" />
                    </li>
                    <li>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="Picture">Picture Url</label>
                                        <a id="filepicker">File</a>
                                        <input style="display: none" name="ItemUrl" id="thispicurl" />
                                    </td>
                                    <td>
                                        <div id="imgresult"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ol>
                <ol style="float: left; margin-left: 15px">
                    <li>
                        <label for="Description">Decription</label>
                        <input type="text" name="Description" />
                    </li>

                    <li>
                        <label for="Quantity">Quantity</label>
                        <input type="text" name="Quantity" />
                    </li>
                    <li>
                        <label for="Price">Price</label>
                        <input type="text" name="Price" />
                    </li>
                    <li>
                        <input  style="display:none" type="text" name="UserId" value="@User.Identity.Name" />
                    </li>
                </ol>
                <input type="submit" value="Add" />
            </fieldset>
        </form>
    </div>

    <div id="createcategorywindow">
        <form id="addCategory" data-bind="submit: addCategory">
            <fieldset>
                <legend>Add New Category</legend>
                <hr />
                <ol>
                    <li>
                        <label for="Name">Name</label>
                        <input id="Name" type="text" name="Name" />
                    </li>

                    <li>
                        <label for="Description">Decription</label>
                        <input type="text" name="Description" />
                    </li>
                    <li>
                        <input style="display:none" type="text" name="UserId" value="@User.Identity.Name" />
                    </li>
                </ol>
                <input type="submit" value="Add" />
            </fieldset>
        </form>
    </div>

    <div class="savedbox" id="removedStatus">Removed Successfully</div>
    <div class="savedbox" id="savedStatus">Saved Successfully</div>
</section>
