<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://SimpleSale.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SimpleSale</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$SimpleSale</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:p26ewe4a8v.database.windows.net,1433;Initial Catalog=SimpleSale;Integrated Security=False;User ID=logandhead@p26ewe4a8v;Password={your_password_here};Connect Timeout=30;Encrypt=True" Name="Server=tcp:p26ewe4a8v.database.windows.net,1433;Database=SimpleSale;User ID=logandhead@p26ewe4a8v;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimpleSale.Models.UsersContext, SimpleSale" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SimpleSale.Models.SimpleSaleContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SimpleSale.Models.SimpleSaleContext, SimpleSale" MigrationConfiguration="SimpleSale.Migrations.Configuration, SimpleSale" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:p26ewe4a8v.database.windows.net,1433;Database=SimpleSale;User ID=logandhead@p26ewe4a8v;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SimpleSale.Models.SimpleSaleContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SimpleSale.Models.SimpleSaleContext" />
  </ItemGroup>
</Project>